<div *ngIf="isLoading | async" class="overlay">
    <div class="m-progress">
        <div class="m-progress-item1 m-progress-item"></div>
        <div class="m-progress-item2 m-progress-item"></div>
        <div class="m-progress-item3 m-progress-item"></div>
        <div class="m-progress-item4 m-progress-item"></div>
        <div class="m-progress-item5 m-progress-item"></div>
        <div class="m-progress-item6 m-progress-item"></div>
        <div class="m-progress-item7 m-progress-item"></div>
        <div class="m-progress-item8 m-progress-item"></div>
        <div class="m-progress-item9 m-progress-item"></div>
        <div class="m-progress-item10 m-progress-item"></div>
        <div class="m-progress-item11 m-progress-item"></div>
        <div class="m-progress-item12 m-progress-item"></div>
    </div>
</div>